<div class="fixed-block">
	<ul class="social-list">
	    <li>
    		<i class="fas fa-phone"></i>
    		<span class="hover-block">
				<a href="tel:+7 (921)444-00-44">+7 (921)444-00-44</a>,
				<a href="tel:+7 (921)426-78-48">+7 (921)426-78-48</a>
    		</span>
	    </li>
		<li>
			<i class="fab fa-facebook-f"></i>
			<span class="hover-block">
				<a href="https://facebook.com/AmbarTheFarm/?ref=bookmarks">
					https://facebook.com/AmbarTheFarm
				</a>
			</span>
		</li>
		<li>
			<i class="fab fa-instagram"></i>
			<span class="hover-block">
				<a href="https://instagram.com/ambar.the.farm?utm_source=ig_profile_share&igshid=8ujsy9328n07">
					https://instagram.com/ambar.the.farm
				</a>
			</span>
		</li>
	</ul>
</div>